#{extends 'main.html' /}
#{set title:'Устройства' /}

<script src="http://code.highcharts.com/highcharts.js"></script>

#{if device.internaltype.equals("dimmer")}
    <script>
        $(function() {
            $( "#slider" ).slider({
                range: "max",
                min: 0,
                max: 99,
                value: ${device.getValue("Level").value},
                slide: function( event, ui ) {
                    $( "#amount" ).val( ui.value );
                },
                stop: function( event, ui) {
                    $.get("/rest/device/${device.uuid}/level/" + $("#slider").slider("value"));
                }
            });
            $( "#amount" ).val( $( "#slider" ).slider( "value" ) );
        });
    </script>
#{/if}

#{if device.internaltype.equals("switch")}
<script>
    $(function() {

        var isCheck = document.getElementById('toggle');
        var checked;

        $(".toggle").iphoneStyle({
            checkedLabel: 'ВКЛ',
            uncheckedLabel: 'ВЫКЛ',
            onChange: function () {

                alert("isChecked: " + checked);

                if(checked == false)
                {
                    $.get("/rest/device/${device.uuid}/on");
                }
                else
                {
                    $.get("/rest/device/${device.uuid}/off");
                }
            }
        });
            #{if device.getValue("Level") != null && (device.getValue("Level").value.equals("255") || device.getValue("Level").value.equals("100"))}
                checked = true;
            #{/if}
            #{else}
                checked = false;
            #{/else}
    });
</script>
#{/if}

<div>
    <ul class="breadcrumb">
        <li>
            <a href="/">Главная</a> <span class="divider">/</span>
        </li>
        <li>
            <a href="/devices">Устройства</a> <span class="divider">/</span>
        </li>
        <li>
            <a href="#">${device.name}</a>
        </li>
    </ul>
</div>

<div class="row-fluid sortable">

    <div class="span6">
    <div class="row-fluid sortable">
    <div class="box">
        <div class="box-header well" data-original-title>
            <h2><i class="icon-picture"></i> Информация о устройстве</h2>
            <div class="box-icon">
                <a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
                <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <table class="table table-striped">
                <tbody>

                <tr>
                    <td><b>Имя устройства:</b></td>
                    <td>
                        #{if device.name.equals("not set")}
                            Не установлено
                        #{/if}
                        #{else }
                        ${device.name}
                        #{/else}

                        <span class="btn-setname icon icon-color icon-compose"/>
                    </td>
                </tr>
                <tr>
                    <td><b>Внутреннее имя устройства:</b></td>
                    <td>${device.internalname}</td>
                </tr>
                <tr>
                    <td><b>Тип устройства:</b></td>
                    <td>${device.type}</td>
                </tr>
                    <td><b>Наименование устройства:</b></td>
                    <td>
                    #{if device.productname.equals("unknown") || device.productname.isEmpty()}
                        Неизвестно
                    #{/if}
                    #{else }
                    ${device.productname}
                    #{/else}
                    </td>
                </tr>
                <tr>
                    <td><b>Производитель:</b></td>
                    <td>
                    #{if device.manufname.equals("unknown") || device.productname.isEmpty()}
                        Неизвестно
                    #{/if}
                    #{else }
                        ${device.manufname}
                    #{/else}
                    </td>
                </tr>
                <tr>
                    <td><b>Зона:</b></td>
                    #{if device.getZoneName().equals("not set")}
                        <td>Не установлена <span class="btn-setzone icon icon-color icon-compose"/></td>
                    #{/if}
                    #{else }
                        <td>${device.getZoneName()} <span class="btn-setzone icon icon-color icon-compose"/></td>
                    #{/else}
                </tr>
                <tr>
                    <td><b>Иконки на карте:</b></td>
                    <td>
                        #{if mapdevice.iconon != null}
                            <b style="color: green"> + </b>
                        #{/if}
                        #{else }
                            <b style="color: #ff0000"> - </b>
                        #{/else}
                        #{if mapdevice.iconoff != null}
                            <b style="color: green"> + </b>
                        #{/if}
                        #{else }
                            <b style="color: #ff0000"> - </b>
                        #{/else}
                    <span class="btn-seticons icon icon-color icon-compose"/>
                    </td>
                </tr>
                <tr>
                    <td><b>Статус:</b></td>
                    <td>
                    #{if device.status.equals("listening")}
                        <span class="label label-success">Работает</span>
                    #{/if}
                    #{elseif device.status.equals("sleeping")}
                        <span class="label label-warning">В режиме сна</span>
                    #{/elseif}
                    #{elseif device.status.equals("dead")}
                        <span class="label label-important">Не работает</span>
                    #{/elseif}
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
      </div><!--/span-->
    </div>


    #{if device.internaltype.equals("dimmer")}
        <div class="row-fluid sortable">
            <div class="box">
                <div class="box-header well" data-original-title>
                    <h2><i class="icon-picture"></i> Быстрое управление</h2>
                    <div class="box-icon">
                        <a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
                        <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                        <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td>
                                <label for="amount">Level:</label>
                                <input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold;">
                                <div id="slider"></div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div><!--/span-->
        </div>
    #{/if}

    #{if device.internaltype.equals("switch")}
        <div class="row-fluid sortable">
            <div class="box">
                <div class="box-header well" data-original-title>
                    <h2><i class="icon-picture"></i> Быстрое управление</h2>
                    <div class="box-icon">
                        <a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
                        <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                        <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <input data-no-uniform="true" type="checkbox" class="toggle" id="toggle"
                           #{if device.getValue("Level") != null}
                                #{if device.getValue("Level").value.equals("100") || device.getValue("Level").value.equals("255")}
                                   checked
                                #{/if}
                           #{/if}
                    >
                </div>
            </div><!--/span-->
        </div>
    #{/if}

        <div class="row-fluid sortable">
            <div class="box">
                <div class="box-header well" data-original-title>
                    <h2><i class="icon-picture"></i> Графики</h2>
                    <div class="box-icon">
                        <a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
                        <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                        <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
                    </div>
                </div>

                <div class="box-content">

                    #{if device.internaltype.equals("switch")}
                        <script>

                            $(document).ready(function() {

                                var swit =
                                {
                                    chart: {
                                        type: 'spline',
                                        renderTo: 'swit'
                                    },
                                    title: {
                                        text: 'График переключений за сутки'
                                    },
                                    subtitle: {
                                        text: '${device.name}'
                                    },
                                    xAxis: {
                                        type: 'datetime',
                                        dateTimeLabelFormats: {
                                            month: '%e. %b',
                                            year: '%b'
                                        },
                                        title: {
                                            text: 'Время'
                                        }
                                    },
                                    yAxis: {
                                        title: {
                                            text: 'Вкл. / Выкл.'
                                        }
                                    },
                                    tooltip: {
                                        headerFormat: '<b>{series.name}</b><br>'
                                    },
                                    series: [{
                                        name: 'График включений',
                                        data: [
                                        ${switchdata}
                                        ]
                                    }]
                                }

                                new Highcharts.Chart(swit);
                            });

                        </script>

                        <div id="swit"></div>
                    #{/if}

                    #{if device.getValue("sensorname") != null}

                        <script>

                            $(document).ready(function() {

                                var temp =
                                {
                                    chart: {
                                        type: 'spline',
                                        renderTo: 'temp'
                                    },
                                    title: {
                                        text: 'График температуры за сутки'
                                    },
                                    subtitle: {
                                        text: '${device.name}'
                                    },
                                    xAxis: {
                                        type: 'datetime',
                                        dateTimeLabelFormats: {
                                            month: '%e. %b',
                                            year: '%b'
                                        },
                                        title: {
                                            text: 'Время'
                                        }
                                    },
                                    yAxis: {
                                        title: {
                                            text: 'Градусы Цельсия'
                                        }
                                    },
                                    tooltip: {
                                        headerFormat: '<b>{series.name}</b><br>',
                                        pointFormat: '{point.x:%H:%M}: {point.y:.2f} C'
                                    },
                                    series: [{
                                        name: 'Температура',
                                        data: [
                                        ${tempdata}
                                        ]
                                    }]
                                }

                                new Highcharts.Chart(temp);
                            });

                        </script>

                    <div id="temp"></div>

                    #{if device.getValue("sensorname").value.equals("PT111")}

                        <script>

                            $(document).ready(function() {

                                var humi =
                                {
                                    chart: {
                                        type: 'spline',
                                        renderTo: 'humi'
                                    },
                                    title: {
                                        text: 'График влажности за сутки'
                                    },
                                    subtitle: {
                                        text: '${device.name}'
                                    },
                                    xAxis: {
                                        type: 'datetime',
                                        dateTimeLabelFormats: {
                                            month: '%e. %b',
                                            year: '%b'
                                        },
                                        title: {
                                            text: 'Время'
                                        }
                                    },
                                    yAxis: {
                                        title: {
                                            text: 'Влажность %'
                                        }
                                    },
                                    tooltip: {
                                        headerFormat: '<b>{series.name}</b><br>',
                                        pointFormat: '{point.x:%H:%M}: {point.y:.2f} %'
                                    },
                                    series: [{
                                        name: 'Влажность',
                                        data: [
                                        ${humidata}
                                        ]
                                    }]
                                }

                                new Highcharts.Chart(humi);
                            });

                        </script>

                        <div id="humi"></div>
                    #{/if}
                #{/if}

                </div>
            </div><!--/span-->
        </div>

    <div class="row-fluid sortable">
        <div class="box">
            <div class="box-header well" data-original-title>
                <h2><i class="icon-picture"></i> Устройство "${device.name}"</h2>
                <div class="box-icon">
                    <a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
                    <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                    <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
                </div>
            </div>

            <div class="box-content">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Параметр</th>
                        <th>Значение</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    #{list items:device.getValues(), as:'value'}
                    <tr>
                        <td width="50%">
                            <b>${value.label}</b>
                        </td>
                        <td>
                            #{if value.value.equals("null")}
                                Не установлено
                            #{/if}
                            #{elseif value.value.equals("Unknown")}
                                Неизвестно
                            #{/elseif}
                            #{else }
                            ${value.value} ${value.units}
                            #{/else}
                        </td>
                        <td class="center">
                            #{if !value.isReadonly}
                                <a class="btn btn-info" href="/devices/value/edit/${value.id}">
                                    <i class="icon-edit icon-white"></i>
                                    Редактировать
                                </a>
                            #{/if}
                        </td>
                    </tr>
                    #{/list}

                    </tbody>
                </table>
            </div>



        </div><!--/span-->
    </div>
    </div>


    <div class="box span6">
        <div class="box-header well" data-original-title>
            <h2><i class="icon-picture"></i>  Последние изменения значений</h2>
            <div class="box-icon">
                <a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
                <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
            </div>
        </div>


        <div class="box-content">
            <table class="table table-striped">
                <thead>
                <th>Название</th>
                <th>Значение</th>
                </thead>
                <tbody>
                #{list items:logs, as:'logChange'}
                <tr>
                    <td>${logChange.logdate.format('dd.MM.yyyy HH:mm:ss', 'ru', 'GMT+04:00')}</td>
                    <td>${logChange.message}</td>
                </tr>
                #{/list}
                </tbody>
            </table>
        </div>

    </div><!--/span-->

</div><!--/row-->

<script>
    $(function() {
        $('.btn-setzone').click(function (e) {
            e.preventDefault();
            $('#setzone').modal('show');
        });
        $('.btn-setname').click(function (e) {
            e.preventDefault();
            $('#setname').modal('show');
        });
        $('.btn-seticons').click(function (e) {
            e.preventDefault();
            $('#seticons').modal('show');
        });
    });
</script>

<div class="modal hide fade" id="setzone">
    <form method="POST" action="/devices/zone/${device.id}">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Назначение зоны для устройства</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label class="control-label" for="prependedInput">Зона</label>
            <div class="controls">
                <select id="zone" name="zone">
                #{list items:zones, as:'zone'}
                    <option value="${zone.num}">${zone.name}</option>
                #{/list}
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Закрыть</a>
        <button class="btn btn-primary">Сохранить</button>
    </div>
    </form>
</div>

<div class="modal hide fade" id="setname">
    <form method="POST" action="/devices/name/${device.id}">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Назначение имени для устройства</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label class="control-label" for="prependedInput">Название</label>
            <div class="controls">
                <input id="devname" name="name" size="35" type="text" value="${device.name}">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Закрыть</a>
        <button class="btn btn-primary">Сохранить</button>
    </div>
    </form>
</div>

<div class="modal hide fade" id="seticons">
    <form method="POST" enctype="multipart/form-data" action="/devices/icons/${device.id}">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Назначение иконок для устройства на карте</h3>
        </div>
        <div class="modal-body">
            <div class="control-group">
                <label class="control-label" for="on">Иконка для включенного устройства</label>
                <div class="controls">
                    <input class="input-file uniform_on" id="on" name="on" type="file">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="map">Иконка для выключенного устройства</label>
                <div class="controls">
                    <input class="input-file uniform_on" id="off" name="off" type="file">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Закрыть</a>
            <button class="btn btn-primary">Сохранить</button>
        </div>
    </form>
</div>