#{extends 'main.html' /}
#{set title:'Устройства' /}

<div>
    <ul class="breadcrumb">
        <li>
            <a href="/">Главная</a> <span class="divider">/</span>
        </li>
        <li>
            <a href="/devices">Устройства</a>
        </li>
    </ul>
</div>

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header well" data-original-title>
            <h2><i class="icon-picture"></i> Устройства</h2>
            <div class="box-icon">
                <a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
                <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Имя</th>
                    <th>Внутреннее имя</th>
                    <th>Тип</th>
                    <th>Название устройства</th>
                    <th>Производитель</th>
                    <th>Зона</th>
                    <th>Состояние</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                #{list items:devices, as:'device'}
                    <tr>
                        <td>

                            #{if device.internaltype.equals("switch") && device.getValue("Level") != null || device.internaltype.equals("dimmer")&& device.getValue("Level") != null}
                                #{if Integer.valueOf(device.getValue("Level").getValue()) > 0}
                                    &nbsp;<img src="/public/images/star-on.png">
                                #{/if}
                                #{else }
                                    &nbsp;<img src="/public/images/star-off.png">
                                #{/else}
                            #{/if}
                            #{else }
                                    &nbsp;
                            #{/else}

                            </td>
                            <td>

                            <b><a href="/devices/view/${device.id}">

                            #{if device.name.equals("not set")}
                                Не установлено
                            #{/if}
                            #{else }
                                ${device.name}
                            #{/else}
                            </a>
                            </b>
                        </td>
                        <td>${device.internalname}</td>
                        <td>${device.type}</td>
                        <td>
                            #{if device.productname.equals("unknown") || device.productname.isEmpty()}
                                Неизвестно
                            #{/if}
                            #{else }
                                ${device.productname}
                            #{/else}
                        </td>
                        <td>
                            #{if device.manufname.equals("unknown") || device.productname.isEmpty()}
                                Неизвестно
                            #{/if}
                            #{else }
                            ${device.manufname}
                            #{/else}
                        </td>

                        #{if device.getZoneName().equals("not set")}
                            <td>Не установлена</td>
                        #{/if}
                        #{else }
                            <td>${device.getZoneName()}</td>
                        #{/else}

                        <td>
                            #{if device.status.equals("listening")}
                                <span class="label label-success">Работает</span>
                            #{/if}
                            #{elseif device.status.equals("sleeping")}
                                <span class="label label-warning">В режиме сна</span>
                            #{/elseif}
                            #{elseif device.status.equals("dead")}
                                <span class="label label-important">Не работает</span>
                            #{/elseif}
                        </td>
                        <td class="center">
                            <a class="btn btn-success" href="/devices/view/${device.id}">
                                <i class="icon-zoom-in icon-white"></i>
                                Подробнее
                            </a>
                        </td>
                    </tr>
                #{/list}

                </tbody>
            </table>
            <div class="form-actions">
                <a href="/devices/association"><div class="btn btn-primary">Привязка / отвязка устройств</div></a>
            </div>
        </div>
    </div><!--/span-->
</div><!--/row-->