#{extends 'main.html' /}
#{set title:'Карты' /}

<script src="/public/javascripts/interact-1.2.2.min.js"></script>

<style>
    .mapbox {
        background: url('/maps/render/${map.id}') no-repeat center center;
        height: 650px;
        width: 1100px;
    }

    .dropzone {
        background-color: #ccc;
        border: dashed 4px transparent;
        border-radius: 4px;
        margin: 10px auto 30px;
        padding: 10px;
        transition: background-color 0.3s, border-color 0.3s;
    }

    .drop-active {
        border-color: #666;
    }

    .drop-target {
        background-color: #29e;
    }

    .draggable {
        position: relative;
        background-size: contain;
        display: inline-block;
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }

    .drag-drop .can-drop { background-color: #4e4; }

</style>

<script>
    $(function () {

        // target elements with the "draggable" class
        interact('.draggable')
                .draggable({
                    // enable inertial throwing
                    inertia: false,
                    // keep the element within the area of it's parent
                    restrict: {
                        restriction: "parent",
                        endOnly: true,
                        elementRect: { top: 0, left: 0, bottom: 1, right: 1 }
                    },
                    // call this function on every dragmove event
                    onmove: function (event) {
                        var target = event.target,
                        // keep the dragged position in the data-x/data-y attributes
                                x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx,
                                y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy;

                        // translate the element
                        target.style.webkitTransform =
                                target.style.transform =
                                        'translate(' + x + 'px, ' + y + 'px)';

                        // update the posiion attributes
                        target.setAttribute('data-x', x);
                        target.setAttribute('data-y', y);
                    }
                });

        // enable draggables to be dropped into this
        interact('.dropzone').dropzone({

            overlap: 0.75,

            ondropactivate: function (event) {
                // add active dropzone feedback
                event.target.classList.add('drop-active');
            }
        });
    });

    function getCoords()
    {
        $('.draggable').each(function () {
            var intname = this.getAttribute('id');
            var X = (this.getAttribute('data-x') || 0);
            var Y = (this.getAttribute('data-y') || 0);

            var Xin = $("#X-"+intname);
            var Yin = $("#Y-"+intname);

            Xin.val(X);
            Yin.val(Y);
        });

        return true;
    }
</script>

<div>
    <ul class="breadcrumb">
        <li>
            <a href="/">Главная</a> <span class="divider">/</span>
        </li>
        <li>
            <a href="/maps">Карты</a>
        </li>
    </ul>
</div>

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header well" data-original-title>
            <h2><i class="icon-edit"></i> Редактирование параметров карты</h2>
            <div class="box-icon">
                <a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
                <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <form class="form-horizontal" onsubmit="getCoords();" enctype="multipart/form-data" method="POST" action="/maps/edit/${map.id}">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="name">Название</label>
                        <div class="controls">
                            <input id="name" name="name" size="35" type="text" value="${map.name}">
                            <p class="help-inline">Внутреннее название карты</p>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="select">Зона</label>
                        <div class="controls">
                            <select id="select" data-rel="chosen" name="zone">
                            #{list items:zones, as:'zone'}
                                #{if zone.num == map.zone.num}
                                    <option value="${zone.id}" selected>${zone.name}</option>
                                #{/if}
                                #{else }
                                    <option value="${zone.id}">${zone.name}</option>
                                #{/else}
                            #{/list}
                            </select>
                            <p class="help-inline">Принадлежность к зоне</p>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="map">Файл карты</label>
                        <div class="controls">
                            <input class="input-file uniform_on" id="map" name="map" type="file">
                            <p class="help-inline">Укажите новый файл карты, если нужно</p>
                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                </fieldset>
        </div>
    </div><!--/span-->

</div><!--/row-->

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header well" data-original-title>
            <h2><i class="icon-picture"></i> Редактирование карты "${map.name}"</h2>
            <div class="box-icon">
                <a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
                <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
            </div>
        </div>
        <div class="box-content">

            <div class="mapbox dropzone" id="inner-dropzone">
                #{list devices, as:'device'}

                    %{
                        if(device.iconon != null)
                        {
                            img = javax.imageio.ImageIO.read(new java.io.ByteArrayInputStream(device.iconon));
                        }
                    }%

                    <input type="hidden" id="X-device-${device.id}" name="X.${device.id}" value="${device.x}">
                    <input type="hidden" id="Y-device-${device.id}" name="Y.${device.id}" value="${device.y}">

                    #{if device.iconon != null}
                        <div id="device-${device.id}"
                             class="draggable"
                             style="
                                 #{if device.x != 0}
                                         transform: translate(${device.x}px, ${device.y}px);
                                         -webkit-transform: translate(${device.x}px, ${device.y}px);
                                 #{/if}
                                 width: ${img.getWidth()}px; height: ${img.getHeight()}px; background: url('/maps/icon/on/${device.id}') no-repeat center center;"
                             title="${device.device.name}" data-rel="tooltip">
                        </div>
                    #{/if}
                    #{else }
                        <div id="device-${device.id}"
                             class="draggable"
                             style="width: 64px;
                                 #{if device.x != 0}
                                         transform: translate(${device.x}px, ${device.y}px);
                                         -webkit-transform: translate(${device.x}px, ${device.y}px);
                                 #{/if}
                                 height: 64px; background: url('/public/images/generic-device.png') no-repeat center center;"
                             title="${device.device.name}" data-rel="tooltip">
                        </div>
                    #{/else}
                #{/list}
            </div>

        </div>
    </div><!--/span-->
</div><!--/row-->

</form>
