#{extends 'Terminal/main.html' /}
#{set title:'Terminal' /}

<style>
    .mapbox {
        background: url('/maps/render/${map.id}') no-repeat center center;
        height: 650px;
        width: 1100px;
    }

    .device {
        position: relative;
        background-size: contain;
        display: inline-block;
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
</style>

<div class="container">
    <div class="mapbox" id="mapbox">
    #{list devices, as:'device'}

        %{
        if(device.iconon != null)
        {
        img = javax.imageio.ImageIO.read(new java.io.ByteArrayInputStream(device.iconon));
        }
        }%

            <div id="${device.device.uuid}"
                 class="device"
                 style="
                     #{if device.x != 0}
                             transform: translate(${device.x}px, ${device.y}px);
                             -webkit-transform: translate(${device.x}px, ${device.y}px);
                     #{/if}
                     #{if device.iconon != null}
                         width: ${img.getWidth()}px; height: ${img.getHeight()}px;
                     #{/if}
                     #{else }
                         width: 64px; height: 64px;
                     #{/else}
                     #{if device.device.internaltype.equals("switch") || device.device.internaltype.equals("dimmer")}
                         #{if Integer.valueOf(device.device.getValue("Level").value) > 0}
                             background: url('/maps/icon/on/${device.device.uuid}') no-repeat center center;"
                             state="on"
                         #{/if}
                         #{else }
                             background: url('/maps/icon/off/${device.device.uuid}') no-repeat center center;"
                             state="off"
                         #{/else}
                         onclick="toggleLight('${device.device.uuid}');"
                     #{/if}
                     #{if device.device.internaltype.equals("motionsensor")}
                        #{if Integer.valueOf(device.device.getValue("Level").value) > 0}
                            background: url('/maps/icon/on/${device.device.uuid}') no-repeat center center;"
                            state="on"
                        #{/if}
                        #{else }
                            background: url('/maps/icon/off/${device.device.uuid}') no-repeat center center;"
                            state="off"
                        #{/else}
                     #{/if}
                     #{else }
                         background: url('/maps/icon/on/${device.device.uuid}') no-repeat center center;"
                     #{/else}
                 title="${device.device.name}" data-rel="tooltip">
            </div>
    #{/list}
    </div>
</div><!-- /.container -->

<script>
    $(document).ready(function()
    {
        // device list on page
        var devices = [
        #{list devices, as:'device'}
            '${device.device.uuid}',
        #{/list}
        ];

        var wsUri = "ws://${play.configuration["WSServer"]}:9000/ws/channel";
        start(wsUri);

        function start(websocketServerLocation){
            websocket = new WebSocket(wsUri);

            // Обработка сообщения от сервера
            websocket.onmessage = function(ev)
            {
                var msg = JSON.parse(ev.data);
                var subj = msg.subject;

                if(subj == "event.devices.setvalue" || subj == "event.devices.noolite.value.changed" || subj == "event.devices.zwave.value.changed")
                {
                    devices.forEach(function(item, i, arr) {
                        if(item == msg.object.deviceUUID)
                        {
                            if(msg.object.value > 0)
                            {
                                $("#"+item).css("background", "url('/maps/icon/on/"+item+"') no-repeat center center");
                                $("#"+item).attr("state", "on");
                            }
                            else
                            {
                                $("#"+item).css("background", "url('/maps/icon/off/"+item+"') no-repeat center center");
                                $("#"+item).attr("state", "off");
                            }
                        }
                    });
                }
            };

            websocket.onclose = function(){
                //try to reconnect in 5 seconds
                setTimeout(function(){start(websocketServerLocation)}, 5000);
            };
        }
    });

    function toggleLight(item)
    {
        var device = $("#"+item);

        if(device.attr("state") == "off") {
            $.get("/rest/device/"+item+"/Level/255");
        }
        else
        {
            $.get("/rest/device/"+item+"/Level/0");
        }
    }
</script>